.header {
    align-items: center;
    background-color: var(--yellow);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px 180px;
}

.header__logo {
    align-items: center;
    border: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.header__logo__img {
    width: 100%;
}
